Projeto1/.venv/
Projeto1/.deps/
Projeto1/.env
Projeto1/site.err.log
Projeto1/site.out.log
Projeto1/server.err.log
Projeto1/server.out.log
Projeto1/_REMOVER_tmp/
Projeto1/__pycache__/
Projeto1/__pycache__/
